.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-content {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}




.contact-details {
  text-align: justify;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  p {
    color: white;
    margin: 0px 0px;
  }

  h5, a {
    font-family: 'Italiana',
      serif;
    font-size: 30px;
    font-weight: 100;
    background-image: linear-gradient(135deg,
        #DDBC9C 50%,
        #C19D62 90%);
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 10px 10px 10px black;
    transition: 0.3s;
    margin: 20px 0px;
  }
  a:hover {
    background-image: linear-gradient(135deg,
        #dbcdbf 50%,
        #c0aa87 90%);
  }
}
