.about-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-content {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-text {
  text-align: justify;
  width: 100%;
  p {
    color: white;
  }
}

.about-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 24px 0px;

  a {
    font-family: 'Italiana',
      serif;
    font-size: 40px;
    font-weight: 100;
    background-image: linear-gradient(135deg,
      #DDBC9C 50%,
      #C19D62 90%);
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 10px 10px 10px black;
    transition: 0.3s;
  }

  a:hover {
    background-image: linear-gradient(135deg,
      #dbcdbf 50%,
      #c0aa87 90%);
  }
}
